@model ProjetJB2.Models.ProjectStepTaskStudentGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project : @Html.DisplayFor(model => model.Project.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Teacher.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Teacher.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Description)
        </dd>
        <dt>
            Students
        </dt>
        
            @foreach (var item in Model.Students)
        {
        <dd>
            @Html.DisplayFor(modelItem => item.LastName)  @Html.DisplayFor(modelItem => item.FirstName)
        </dd>
            }
        
        <dt>
            @Html.DisplayNameFor(model => model.Project.BeginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.BeginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.EndDate)
        </dd>

        <dt>
            Next Step
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step.Description) - (Date) : @Html.DisplayFor(model => model.Step.EndDate)
        </dd>
        <dt>
            Next Task
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.Description) - (Date) : @Html.DisplayFor(model => model.Task.EndDate)
        </dd>

        <dt>
            @Html.ActionLink("Steps detail", "IndexBis", "Step", new { id = Model.Project.Id }, null)
        </dt>

        <dd></dd>

        <dt>
            @Html.ActionLink("Tasks detail", "IndexBis", "Task", new { id = Model.Project.Id }, null)
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Project.Id }) |
    @Html.ActionLink("Back to List", "Index", new { id = "backList" }, new { @class = "btn btn-danger" })
</p>
